<nav class="app-header navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">{{ (title | async) }}</a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav ml-lg-5">
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLinkActive="active" routerLink="/" title="Home" role="menuitem">
          Home
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLinkActive="active" routerLink="/movies" title="Movies" role="menuitem">
          Movies
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLinkActive="active" routerLink="/genres" title="Genres" role="menuitem">
          Genres
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLinkActive="active" routerLink="/about" title="About" role="menuitem">
          About
        </a>
      </li>
    </ul>
    <div class="ml-auto">
      <form class="input-group ml-auto">
        <div class="input-group-prepend">
          <label class="input-group-text" for="search">Search Movies</label>
        </div>
        <input class="form-control" id="search" name="search" type="search" placeholder="Enter a movie name" disabled>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" disabled>Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<main class="app-body" role="main">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer" role="contentinfo">
  <div class="container p-3">
    <div class="row no-gutters flex-nowrap justify-content-between align-items-center">
      <small class="text-muted">Developed by <a href="http://www.donnyburnside.com/">Donny Burnside</a>.</small>
      <small class="text-muted">v{{ (version | async) }}</small>
    </div>
  </div>
</footer>
